<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>

    <add key="Camera1" value="0" />
    <add key="Camera1X" value="1920" />
    <add key="Camera1Y" value="1080" />
    <add key="AppendCam1" value="_1" />

    <add key="Camera2" value="" />
    <add key="Camera2X" value="1920" />
    <add key="Camera2Y" value="1080" />
    <add key="AppendCam2" value="_2" />

    <add key="Camera3" value="" />
    <add key="Camera3X" value="1920" />
    <add key="Camera3Y" value="1080" />
    <add key="AppendCam3" value="_3" />

    <add key="Camera4" value="" />
    <add key="Camera4X" value="1920" />
    <add key="Camera4Y" value="1080" />
    <add key="AppendCam4" value="_4" />

    <add key="Camera5" value="" />
    <add key="Camera5X" value="1920" />
    <add key="Camera5Y" value="1080" />
    <add key="AppendCam5" value="_5" />

    <add key="SavePath" value=".\Pictures\" />
    <add key="ClearTextAfterCapture" value="True" />
    <add key="CaptureOnScan" value="True" />

    <add key="AddWaterMark" value="True" />
    <add key="WatermarkLocation" value=".\WaterMark\WaterMark720.png" />
    <add key="WaterMarkBeta" value=".3" />

  </appSettings>
</configuration>