<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    
    <add key="Camera1" value="0" />
    <add key="Camera1X" value="1920" />
    <add key="Camera1Y" value="1080" />
    
    <add key="Camera2" value="1" />
    <add key="Camera2X" value="1920" />
    <add key="Camera2Y" value="1080" />

    <add key="Camera3" value="2" />
    <add key="Camera3X" value="1920" />
    <add key="Camera3Y" value="1080" />

    <add key="Camera4" value="3" />
    <add key="Camera4X" value="1920" />
    <add key="Camera4Y" value="1080" />

    <add key="Camera5" value="4" />
    <add key="Camera5X" value="1920" />
    <add key="Camera5Y" value="1080" />
    
    <add key="SavePath" value="\\10.110.0.28\AmTrust\Pictures\" />
    
  </appSettings>
</configuration>